{{define "index"}}
<!DOCTYPE html>
<html>
<head>
  <title>eInk Radiator</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <link rel="icon" type="image/png" id="favicon" href="/static/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
  <!-- Menu bar -->
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <i class="inverted expand icon"></i>
        eInk Radiator
      </a>

      <div class="right palette item">
        {{range .Screen.Palette}}
          <i style="background-color: {{.}};"></i>
        {{end}}
      </div>
    </div>
  </div>

  <div class="ui two column grid">
    <div class="ui column vertical menu">
      {{range .Slides}}
      <div class="slideshow item">
        <img class="ui left floated bordered thumbnail image" src="/api/slide/{{.Name}}/image.png" />
        <p>{{.Name}}<br />{{.Type}}<br />{{.DurationAmount}}</p>
      </div>
      {{end}}
    </div>

    <div id="screen_content" class="ui column">
      <div class="ui disabled dimmer">
        <div class="ui indeterminate text loader">Screen is busy</div>
      </div>
      <img class="ui centered bordered screen image" src="/api/screen/image.png" />
      <h4 class="ui center aligned header">{{ .Screen.Size.Width }} &times; {{ .Screen.Size.Height }}</h4>
    </div>
  </div>

</body>
</html>
{{end}}