body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body > div {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}

#configuration {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#configuration textarea {
    resize: vertical;
}

.image {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    position: relative;
}

.image.loading {
    background-blend-mode: color;
    /*filter: opacity(30%);*/
}

/* https://stephanwagner.me/only-css-loading-spinner */
@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.image.loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #000;
    animation: loading .6s linear infinite;
}