<html>
<head>
    <title>eInk Radiator</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <link rel="icon" type="image/png" id="favicon" href="/static/favicon.png"/>
    <style>
        .image {
            height: {{ height }}px;
            width: {{ width }}px;
        }
    </style>
</head>
<body>

<div>
    <h2>Image Sources</h2>
    <select id="image_sources" size="10" style="width: {{ width }};">
        {% for source in image_sources %}
            <option {% if loop.index0 == source_index %}selected {% endif %}>
                {{ source.name }}
            </option>
        {% endfor %}
    </select>
    <h3>Configuration</h3>
    <div id="configuration"></div>
    <p>
        <button id="saveConfig">Save</button>
    </p>
</div>

<div>
    <h2>Image Preview</h2>
    <div id="preview-image" class="image"></div>
</div>

<div>
    <h2>Image on Screen</h2>
    <div id="radiator-image" class="image"></div>
    <p>
        <button id="setImage">set image</button>
    </p>
</div>

<script src="static/actions.js"></script>
</body>
</html>