<html>
<head>
  <title>eInk Radiator</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <link rel="icon" type="image/png" id="favicon" href="/static/favicon.png"/>
  <style>
    .ui.menu .item i {
      margin-right: 1.5em;
    }

    .main.container {
      margin-top: 7em;
    }

    .screen {
      height: {{ height }}px;
      width: {{ width }}px;
    }

    .thumbnail {
      height: {{ height / 10 }}px;
      width: {{ width / 10 }}px;
    }

    .ui.selection.list>.selected.slideshow.item {
      background-color: lightgrey;
    }
    
  </style>
</head>
<body>

  <div id="image_source_details" class="ui modal">
    <div class="image content">
      <div class="ui segment">
        <div class="ui disabled dimmer">
          <div class="ui indeterminate text loader">Remaking image</div>
        </div>
        <img class="ui bordered screen image" src="">
      </div>
      <form class="ui equal width configuration form"></form>
      <div class="actions">
        <button class="ui primary right labeled icon save button" type="submit">Save</button>
        <div class="ui positive right labeled icon done button">
          Done
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <i class="inverted expand icon"></i>
        eInk Radiator
      </a>
      <div class="ui simple dropdown item">
        New Image Source <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Blank</a>
          <a class="item" href="#">Text</a>
          <a class="item" href="#">Weather</a>
          <a class="item" href="#">Image</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui main container">
    <h2 class="ui header">Active Slides</h2>

    <div class="ui controls content">
      <button class="ui icon previous button">
        <i class="step backward icon"></i>
      </button>
      <button class="ui disabled icon button">
        <i class="pause icon"></i>
      </button>
      <button class="ui icon next button">
        <i class="step forward icon"></i>
      </button>
    </div>

    <div class="ui middle aligned horizontal divided selection list">
{% for image_source in slideshow.image_sources %}
      <div id="image_source_{{ image_source.id}}"
           class="image_source slideshow item {% if loop.index0 == slideshow.index %}selected{%endif%}">
        <img class="ui bordered thumbnail image" src="/image_sources/{{ image_source.id}}/image.png" />
        <div class="content">
          {{ image_source.configuration.data.name.value }}
        </div>
      </div>
{% endfor %}
    </div>

    <div id="screen_content" class="ui segment">
      <div class="ui disabled dimmer">
        <div class="ui indeterminate text loader">Screen is busy</div>
      </div>
      <img class="ui centered bordered screen image" src="/screen/image.png" />
    </div>
  </div>
  <script src="/static/image_source_details.js"></script>
  <script src="/static/screen.js"></script>
  <script src="/static/slideshow.js"></script>
  <script src="/static/socket.js"></script>
</body>
</html>